<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Topics</title>
</head>
<body>
<h1>Create Topic</h1>
<ul>
    <li>
        <a href="/topics">Click here to view topics</a>
    </li>
    <li>
        <a href="/topics/new">Click here to create topics</a>
    </li>
</ul>

<p th:if="${error}" th:text="${error}"></p>
<form method="post" action="/topics/create">
    <label>Name</label>
    <select name="parent">
        <option th:disabled th:selected th:value></option>
        <option th:each="topic : ${topics}" th:value="${topic.name}" th:text="${topic.name}"></option>
    </select>
    <input type="text" th:name="name" />
    <button type="submit">Submit</button>
</form>

</body>
</html>